# Copy to .env

# local mongo
# MONGO_URI=mongodb://127.0.0.1:27017/popflix
# atlas example
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/popflix

MONGO_URI=

# jwt secret - use any long random string
JWT_SECRET=

# optional, railway sets this automatically
PORT=3000
